html {
  text-align: center;
}

body {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("background3.2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  ;
}


* {
  box-sizing: border-box;
}

h1 {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.title {
  text-align: center;
}


/*main -div have #img div inside of it*/
.main {
  background: url("woodtx.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 25em;
  height: 40em;
  margin: 4em 0 2em 10em;
  border: 4px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center
}

.main__inner__box {
  background: url("model-test.jpg");
  position: absolute;
  width: 100%;
  height: 95%;
  border-radius: 116px;
}

/*Div->Button menu on right side of the page*/
.right {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em 0 3em 3em;
}

.title__box {
  background-image: url("woodtx.jpg");
  background-size: cover;
  border: 4px solid lightgrey;
  padding: 2em 10em 2em 10em;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 135.5px;
}

#title__heading {
  font-size: 30px;
  letter-spacing: 2.5px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFFAFA;
  font-style: italic;
}

#question:hover {
  background-color: rgba(105, 190, 119, 0.5);
  border-color: rgba(105, 190, 119, 0.671);
}


/*div where draggable divs are created*/
#img {
  position: absolute;
  height: 97%;
  width: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
  background-position: center;
}

/*draggable and resizable images class*/
.dragme {
  border-radius: 2px;
  padding: 3px;
  margin: 3px;
  height: 80px;
  width: 80px;
  margin-left: 50%;
  margin-right: 50%;
  position: absolute;
  display: table;

  /*--These are important for touch actions--*/
  touch-action: none;
  user-select: none;
}

.dragme:hover {
  border: 1px dotted rgba(128, 128, 128, 0.555);

}

/*hover for draggable images*/
.dragme:hover .rotation-handle,
.rotation-handle:hover {
  display: inline-block;
  border: rgba(117, 128, 115, 0.717);
  background-color: rgba(117, 128, 115, 0.717);
}

/*hover for draggable image buttons*/
.dragme:hover #deleteCBtn,
#deleteCBtn:hover {
  display: inline-block;
  border: rgba(117, 128, 115, 0.717);
  background-color: rgba(117, 128, 115, 0.717);
}

.dragme img {
  max-width: 100%;
  max-height: 100%;
  /*This makes image fit(stretch) to div size*/
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

/* this is div for rotate images*/
.rotation-handle {
  padding: 3px 4px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  display: none;
  position: absolute;
  /* background-size: 100% 100%;
  transform-origin: center center;*/
  cursor: move;
  /*These are important for touch actions*/
  touch-action: none;
  user-select: none;
}


/*This is draggable divs delete button*/
#deleteCBtn {
  padding: 3px 4px;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  display: none;
  position: absolute;
}

/*elements buttons in menu*/
.elements {
  margin: 0 auto 20px;
  background-color: lightgray;
  display: block;
  width: 120px;
  height: 100px;
  border-radius: 50%;
  border: none;
}

.elements button {
  justify-items: center;
}

.elements img {
  width: 100%;
  height: 100%;
}

/* .imgList is list of images (clothes)*/
.imgList {
  width: 30%;
  display: block;
  padding: 1px;
  margin: 0 auto 0;
}

.imgList img {
  width: 100%;
  height: auto;
  overflow-x: hide;
  padding-left: 0px;
}

#img {
  border-color: transparent;
  border: 0px solid transparent;
}

/*.buttons class is buttons in .right-div*/

.btn__container {
  margin: 1.5em;
}

.buttons {
  border: 1.5px solid rgba(112, 112, 112, 0.192);
  background-image: url("woodtx.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  width: 6em;
  height: 5em;
  border: 4px solid lightgrey;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2em 0 0 0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icons {
  font-size: 25px;
  color: #FFFAFA;
}

/*.buttons:hover {
  background-color: rgba(105, 190, 119, 0.5);
  border-color: rgba(105, 190, 119, 0.671);
}
*/
/*#question-button is in .right-class div*/
#question {
  border: transparent;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  border: 4px solid lightgrey;
  bottom: 0px;
  z-index: 5;
}

/*This is just shity test-- not working
.buttons.testi {
  font-size: 10px;
}*/

/*Open and close div with clothes*/
.scrollableDiv {
  height: 70%;
  width: 0%;
  position: absolute;
  z-index: 1;
  top: 190px;
  right: 200px;
  float: right;
  background-image: url("woodtx.jpg");
  background-size: cover;
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 200px;
  border: 6px solid lightgray;
}

#openNav {
  cursor: pointer;
}

#closeNav {
  display: block;
  margin: 10px auto;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.548);
  cursor: pointer;
  background-image: url("woodtx.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
}

#scrollableDivTitle button {
  margin-top: 0;
}

/*Back- button*/
#goBack {
  display: none;
  top: 700px;
  right: 530px;
  position: fixed;
  margin: 0 auto 0;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.548);
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-image: url("woodtx.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  z-index: 5;
}

/*Class of popups*/
.material-symbols-outlined {
  color: rgba(116, 116, 116, 0.651);
}

.material-symbols-outlined.drag {
  color: rgb(255, 255, 255);
}

/*--------------For mobile devices:------------------- */
@media only screen and (max-width: 767px) {
  /*html {
    //TestTest
  }*/

  body {
    height: 99%;

  }

  .right,
  .main {
    margin-left: auto;
    margin-right: auto;
  }

  /*Button menu on right side of the page*/
  .right {
    order: 2;
    width: 100%;
    height: 10%;
    margin-top: -60px;
    z-index: 900;
  }

  .right button {
    margin: 0 auto 5px;
    display: inline-block;
  }

  /*#question-button is in .right-class div*/
  #question {
    border: transparent;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 5;
  }

  #question:hover {
    background-color: rgba(105, 190, 119, 0.5);
    border-color: rgba(105, 190, 119, 0.671);
  }

  .main,
  #img {
    order: 1;
    width: 97%;
    height: 99%;
  }

  .buttons {
    background-image: url("woodtx.jpg");
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    margin: 0 auto 5px 0;
    cursor: pointer;
    position: relative;
    z-index: 700;
    display: flex;
    color:rgb(255, 255, 255);
  }

  /*.buttons:hover {
    background-color: rgba(105, 190, 119, 0.5);
    border-color: rgba(105, 190, 119, 0.671);
  }
  */

  .dragme {
    object-fit: scale-down;
    height: 100px;
    width: 100px;
    max-width: 100%;
    left: 10%;

  }

  .scrollableDiv {
    height: 97%;
    width: 0%;
    position: absolute;
    z-index: 900;
    top: 5px;
    float: left;
    background-image: url("woodjpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .imgList ul {
    width: 100%;
    height: auto;
    overflow-x: hide;
    padding: 1px;
  }
}

input[type="file"] {
  display: none;
}

/*
.rotation-handle {
  These are important for touch actions*/
/*  touch-action: none;
  user-select: none;
}*/

/*Scrollbar style*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(168, 168, 168, 0.692);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(117, 116, 116, 0.795);
  border-radius: 4px;
}


/*element divs for clothes*/
#wdiv {
  display: none;
}

#fdiv {
  display: none;
}

#wooddiv {
  display: none;
}

#ediv {
  display: none;
}

#mdiv {
  display: none;
}

#addImg {
  height: 50px;
  width: 50px;
}

svg {
  fill: rgba(116, 116, 116, 0.651);

}



/* width */
::-webkit-scrollbar {
  width: 10px;
  scrollbar-gutter: stable both-edges;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}